{% extends 'planning/base.html' %}

{% block content %}
{% load static %}
{% if user.is_authenticated %}
<section class="define-size">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center pos-button">
                <div class="float-right pr-3">
                    <button type="button" class="btn btn-primary" id="btnAddPlanning">Ajouter un plannig</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid define-size-2">
        <div class="row h-100">
            <div class="col-12 col-lg-10 offset-lg-1 h-100" id="divContent">
                <p class="lead text-white mt-5">Planning pour Florent</p>
                <table class="table table-striped table-dark">
                    <thead>
                        <tr>
                            <th scope="col">Lundi</th>
                            <th scope="col">Mardi</th>
                            <th scope="col">Mercredi</th>
                            <th scope="col">Jeudi</th>
                            <th scope="col">Vendredi</th>
                            <th scope="col">Samedi</th>
                            <th scope="col">Dimanche</th>
                            <th scope="col">#</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <select name="Lundi" class="custom-select" id="Lundi-pl-1">
                                    <option selected>Choisissez un plât</option>
                                    <option value="croc">croc monsieur</option>
                                    <option value="pate">pate</option>
                                    <option value="patate">patate</option>
                                    <option value="gratin">gratin</option>
                                </select>
                            </td>
                            <td>
                                <select name="Mardi" class="custom-select" id="Mardi-pl-1">
                                    <option selected>Choisissez un plât</option>
                                    <option value="croc">croc monsieur</option>
                                    <option value="pate">pate</option>
                                    <option value="patate">patate</option>
                                    <option value="gratin">gratin</option>
                                </select>
                            </td>
                            <td>
                                <select name="Mercredi" class="custom-select" id="Mercredi-pl-1">
                                    <option selected>Choisissez un plât</option>
                                    <option value="croc">croc monsieur</option>
                                    <option value="pate">pate</option>
                                    <option value="patate">patate</option>
                                    <option value="gratin">gratin</option>
                                </select>
                            </td>
                            <td>
                                <select name="Jeudi" class="custom-select" id="Jeudi-pl-1">
                                    <option selected>Choisissez un plât</option>
                                    <option value="croc">croc monsieur</option>
                                    <option value="pate">pate</option>
                                    <option value="patate">patate</option>
                                    <option value="gratin">gratin</option>
                                </select>
                            </td>
                            <td>
                                <select name="Vendredi" class="custom-select" id="Vendredi-pl-1">
                                    <option selected>Choisissez un plât</option>
                                    <option value="croc">croc monsieur</option>
                                    <option value="pate">pate</option>
                                    <option value="patate">patate</option>
                                    <option value="gratin">gratin</option>
                                </select>
                            </td>
                            <td>
                                <select name="Samedi" class="custom-select" id="Samedi-pl-1">
                                    <option selected>Choisissez un plât</option>
                                    <option value="croc">croc monsieur</option>
                                    <option value="pate">pate</option>
                                    <option value="patate">patate</option>
                                    <option value="gratin">gratin</option>
                                </select>
                            </td>
                            <td>
                                <select name="Dimanche" class="custom-select" id="Dimanche-pl-1">
                                    <option selected>Choisissez un plât</option>
                                    <option value="croc">croc monsieur</option>
                                    <option value="pate">pate</option>
                                    <option value="patate">patate</option>
                                    <option value="gratin">gratin</option>
                                </select>
                            </td>
                            <td>
                                <div class="d-flex-inline">
                                    <button type="button" class="btn btn-success" id="btnValidPlanning"><i class="fas fa-check"></i></button>
                                    <button type="button" class="btn btn-primary" id="btnEditPlanning"><i class="fas fa-pencil-alt"></i></button>
                                    <button type="button" class="btn btn-danger" id="btnRemovePlanning"><i class="fas fa-trash-alt"></i></button>
                                </div>
                            </td>
                        </tr>
                        <tr class="text-center">
                            <td id="plat-lu-pl-1">Poulet frite <a href="#" class="badge badge-pill badge-warning text-secondary">notif</a></td>
                            <td id="plat-ma-pl-1">Haricot champignon</td>
                            <td id="plat-me-pl-1">Gratin <a href="#" class="badge badge-pill badge-warning text-secondary">notif</a></td>
                            <td id="plat-je-pl-1">Quiche loraine</td>
                            <td id="plat-ve-pl-1">Riz et langue de bouef <a href="#" class="badge badge-pill badge-warning text-secondary">notif</a></td>
                            <td id="plat-sa-pl-1">Pizza</td>
                            <td id="plat-di-pl-1">Frite</td>
                            <td><button type="button" class="btn btn-warning text-white"><i class="fas fa-bell"></i></button></td>
                        </tr>
                    </tbody>
                </table>
            </div><!-- end .col-12 -->
        </div><!-- end .row -->
    </div><!-- end .container-fluid -->

    <!-- Modal Box add new plannig -->
    <div class="modal fade" id="modalBoxAddNewPlanning" tabindex="-1" role="dialog" aria-labelledby="addNewPlanning" aria-hidden="true">
        <div class="modal-dialog modal-lg modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Nouveau planning</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group my-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Liste des utilisateurs enregistrés</span>
                        </div>
                        <select name="listUser" class="form-control" id="listAllUser">
                            <option selected>Choisissez un utilisateur auquel associès le nouveau planning</option>
                            {% for user in users %}
                            <option value="{{ user.pk }}">{{ user.username }}</option>
                            {% endfor %}
                        </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-success">Créez le nouveau planning</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Annulez</button>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'planning/js/addplanning.js' %}"></script>
<script src="{% static 'planning/js/scripts.js' %}"></script>
{% else %}
<section class="define-size">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 text-center h-100 d-flex justify-content-center align-items-center">
                <h1 class="text-danger"><strong>Merci de vous <a href="{% url 'usercontrol:sign_in' %}" class="link text-warning">connectez</a> pour pouvoir avoir accès au fonctionnalitées de l'application web.</strong></h1>
            </div>
        </div>
    </div>
</section>
{% endif %}
{% endblock content %}
