{% extends 'planning/base.html' %}

{% block add_css %}
{% load static %}
<link rel="stylesheet" href="{% static 'fooddish/css/listdish.css' %}">
{% endblock add_css %}


{% block content %}
<section class="define-size">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 text-center pos-button">
                <div class="float-right pr-3">
                    <button type="button" class="btn btn-success mx-3" id="addNewDish"><i class="fas fa-plus"></i> Ajouter un plat</button>
                    <button type="button" class="btn btn-danger" id="btnDeleteDish"><i class="fas fa-trash-alt"></i> Supprimer un plat</button>
                </div>
            </div>
        </div>
    </div>
    <div class="container-fluid mt-5">
        <div class="row">
            <div class="col-12 d-flex justify-content-center">
                <!-- Card Box -->
                <div class="card list-all-dish">
                    <div class="card-header">
                        <p class="lead">Voici la liste des plats disponibles</p>
                    </div>
                    <div class="card-body scroll-body">
                        {% if list_dish %}
                        <ul>
                            {% for dish in list_dish %}
                            <li class="my-3" id="element{{ dish.pk }}">{{ dish.name }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div><!-- end .card -->
            </div>
        </div>
    </div>

    <!-- Modal Box add dish-->
    <div class="modal fade" id="modalBoxAddDish" tabindex="-1" role="dialog" aria-labelledby="addNewDish" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="addNewDish">Ajout d'un plat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'fooddish:add_dish' %}" method='post'>
                    <div class="modal-body">
                    {% csrf_token %}
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Nom du plat</span>
                            </div>
                            {{ form.name_dish }}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="Valider">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- Modal Box del dish-->
    <div class="modal fade" id="modalBoxDeleteDish" tabindex="-1" role="dialog" aria-labelledby="deleteDish" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteDish">Suppression d'un plat</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <form action="{% url 'fooddish:delete_dish' %}" method='post'>
                    <div class="modal-body">
                    {% csrf_token %}
                        <div class="input-group my-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">Plat à supprimer</span>
                            </div>
                            <select name="listDish" id="selectDeleteDish" class="custom-select">
                                <option selected>Choisissez...</option>
                                {% for dish in list_dish %}
                                <option value="{{ dish.pk }}" id="{{ dish.pk }}">{{ dish.name }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <input type="button" id="btnConfirmDelete" class="btn btn-success" value="Valider" data-dismiss="modal">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Annuler</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<script src="{% static 'planning/js/secureajax.js' %}"></script>
<script src="{% static 'fooddish/js/navDishsSelected.js' %}"></script>
<script src="{% static 'fooddish/js/addnewdish.js' %}"></script>
<script src="{% static 'fooddish/js/deletedish.js' %}"></script>
<script src="{% static 'fooddish/js/script.js' %}"></script>
{% endblock content %}