{% extends 'planning/base.html' %}

{% block content %}
{% load static %}

<section class="define-size">
    <div class="container pt-5">
        <div class="row">
            <div class="col-4 col-lg-4 menu-link size-menu-account text-center">
                <i class="fas fa-user-circle fa-9x" id="logo-user"></i>
                <div class="list-group" id="list-tab" role="tablist">
                    <a class="list-group-item list-group-item-action active" id="personnal-information-list" data-toggle="list" href="#personnal-information" role="tab" aria-controls="home">Informations personnelles</a>
                    <a class="list-group-item list-group-item-action" id="preference-list" data-toggle="list" href="#preference" role="tab" aria-controls="profile">Préférences</a>
                    <a class="list-group-item list-group-item-action" id="remove-account-list" data-toggle="list" href="#remove-account" role="tab" aria-controls="settings">Supprimer le compte</a>
                </div>
            </div>
            <div class="col-8 col-lg-8 pl-0">
                <div class="tab-content h-100 options-account" id="nav-tabContent">
                    <div class="text-center user-pseudo">
                        <h3>{{ user.username }}</h3>
                    </div>
                    <div class="tab-pane fade show active h-100" id="personnal-information" role="tabpanel" aria-labelledby="personnal-information-list">
                        <div class="d-flex flex-column justify-content-center align-items-center h-100">
                            <div class="container-fluid pl-5">
                                <div class="row">
                                    <div class="col-6 part-left">
                                        <p class="lead">
                                            <strong>Nom: </strong>
                                        </p>
                                        <p class="lead">
                                            <strong>Prénom: </strong>
                                        </p>
                                        <p class="lead">
                                            <strong>Pseudo: </strong>
                                        </p>
                                        <p class="lead">
                                            <strong>Adresse e-mail: </strong>
                                        </p>
                                        <p class="lead">
                                            <strong>Numéro de téléphone: </strong>
                                        </p>
                                    </div>
                                    <div class="col-6 part-right" id="contentUserInfos">
                                        <p class="d-none error-message" id="messageError">Une erreur est survenu, merci de vérifier les champs de saisie !</p>
                                        <p class="lead" id="userLastName">{{ user.last_name }}</p>
                                        <p class="lead" id="userFirstName">{{ user.first_name }}</p>
                                        <p class="lead" id="userPseudo">{{ user.username }}</p>
                                        <p class="lead" id="userEmail">{{ user.email }}</p>
                                        <p class="lead" id="userPhone">0{{ user.number }}</p>
                                    </div>
                                    <div class="col-6 part-right" id="contentFormUserInfos" style="display: none;">
                                        <div class="input-group form-group-edit">
                                            <input class="form-control" type="text" name="last_name" maxlength="30" id="id_last_name" value="{{ user.last_name }}">
                                        </div>
                                        <div class="input-group form-group-edit">
                                            <input class="form-control" type="text" name="first_name" maxlength="30" id="id_first_name" value="{{ user.first_name }}">
                                        </div>
                                        <div class="input-group form-group-edit">
                                            <input class="form-control" type="text" name="pseudo" maxlength="30" id="id_pseudo" value="{{ user.username }}">
                                        </div>
                                        <div class="input-group form-group-edit">
                                            <input class="form-control" type="email" name="email" id="id_email" value="{{ user.email }}">
                                        </div>
                                        <div class="input-group form-group-edit">
                                            <input class="form-control"  type="text" name="phone_number" pattern="[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}[0-9]{2}" maxlength="10" id="id_phone_number" value="0{{ user.number }}">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pos-btn">
                                <button type="button" class="btn btn-primary" id="changeInfosUser">Éditer vos informations <i class="fas fa-pencil-alt"></i></button>
                                <button type="button" class="btn btn-secondary" id="cancel" style="display: none;">Annuler <i class="fas fa-times"></i></button>
                                <button type="button" class="btn btn-success" id="confirmInfosUser" style="display: none;">Valider <i class="fas fa-check"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade h-100" id="preference" role="tabpanel" aria-labelledby="preference-list">
                        <div class="d-flex flex-column justify-content-center align-items-center h-100">
                            <div class="container-fluid pl-5">
                                <div class="row">
                                    <div class="col-7 part-left">
                                        <p class="lead mb-0">
                                            <strong>Notification par SMS</strong>
                                        </p>
                                        <div class="info-SMS">Voir avec le propriétaire du serveur pour savoir si les SMS sont configurés !</div>
                                        <div id="partPasswd" style="display: none;">
                                            <p class="lead" id="passwd"><strong>Nouveau mot de passe</strong></p>
                                            <p class="lead" id="confirmPasswd"><strong>Confirmez votre mot de passe</strong></p>
                                        </div>
                                    </div>
                                    <div class="col-5 part-right">
                                        <div class="switch-btn">
                                            <label class="switch">
                                                {% if user.use_sms %}
                                                <input type="checkbox" id="checkButton" checked>
                                                {% else %}
                                                <input type="checkbox" id="checkButton">
                                                {% endif %}
                                                <span class="slider round" id="switchButton"></span>
                                            </label>
                                        </div>
                                        <div id="contentFormPwd" style="display: none;">
                                            <form action="{% url 'usercontrol:change_pwd' %}" method='post'>
                                            {% csrf_token %}
                                                <div class="input-group form-group-edit">
                                                    <input class="form-control" type="password" name="password" minlength="8" id="password" required>
                                                </div>
                                                <div class="input-group form-group-edit">
                                                    <input class="form-control" type="password" name="confirm-password" minlength="8" id="confirmPassword" required>
                                                </div>
                                                <div class="d-none not-match" id="notMatchRegPwd">Le mot de passe doit contenir au minimum 8 caractères !!</div>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="pos-btn">
                                <button type="button" class="btn btn-primary" id="changePwd">Changer votre mot de passe <i
                                        class="fas fa-pencil-alt"></i></button>
                                <button type="button" class="btn btn-secondary" id="cancelPwd" style="display: none;">Annuler <i
                                        class="fas fa-times"></i></button>
                                <button type="button" class="btn btn-success" id="confirmPwd" style="display: none;">Valider <i
                                        class="fas fa-check"></i></button>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade h-100" id="remove-account" role="tabpanel" aria-labelledby="remove-account-list">
                        <div class="d-flex flex-column justify-content-center align-items-center h-100">
                            <div class="container-fluid pl-5">
                                <div class="row">
                                    <div class="col-9 part-left">
                                        <p class="lead mb-0">
                                            <strong>Supprimer le compte utilisateur </strong>
                                        </p>
                                        <div class="info-re-init">Votre compte sera supprimer et aucune restauration ne sera possible !!</div>
                                    </div>
                                    <div class="col-3 part-right">
                                        <button class="btn btn-danger" id="deleteAccount">Confirmez ?</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div><!-- end .tab-pane fade h-100 #remove-account -->
                    <!-- Modal box for confirm remove account user -->
                    <div class="modal fade" id="modalRemoveAccount" tabindex="-1" role="dialog" aria-labelledby="modalRemoveAccount" aria-hidden="true">
                        <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h4>Suppression de votre compte</h4>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div><!-- end .modal-header -->
                                <div class="modal-body my-3">
                                    <p class="lead text-danger">Êtes-vous sûr de vouloir supprimer votre compte?</p>
                                    <p class="text-danger">Cette opération est irréversible !</p>
                                </div><!-- end .modal-body -->
                                <div class="modal-footer d-flex justify-content-between">
                                    <button type="button" class="btn btn-danger" data-dismiss="modal" id="confirmRemoveAccount">Je souhaite supprimer mon compte</button>
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Je garde mon compte</button>
                                </div><!-- end .modal-footer -->
                            </div><!-- end .modal-content -->
                        </div><!-- end .modal-dialog -->
                    </div><!-- end .modal fade -->
                </div>
            </div>
        </div>
    </div>

</section>
<script src="{% static 'planning/js/secureajax.js' %}"></script>
<script src="{% static 'usercontrol/js/removeaccount.js' %}"></script>
<script src="{% static 'usercontrol/js/changepwd.js' %}"></script>
<script src="{% static 'usercontrol/js/managesms.js' %}"></script>
<script src="{% static 'usercontrol/js/navaccountselected.js' %}"></script>
<script src="{% static 'usercontrol/js/edituserinfos.js' %}"></script>

{% endblock content %}