<!DOCTYPE html>
<html lang="fr">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>FoodPlanning</title>
        {% load static %}
        <!-- Icon -->
        <link rel="icon" type="image/png" href="{% static 'usercontrol/img/logo.png' %}">

        <!-- Style CSS -->
        <link rel="stylesheet" href="{% static 'usercontrol/css/my_style.css' %}">
    </head>

    <body>
        <!-- content block -->
        {% block content %} {% endblock content %}
    </body>
</html>