{% extends 'usercontrol/base.html' %}

{% block content %}
{% load static %}
<section class="h-100">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 col-lg-12 h-100">
                <div class="h-100 d-flex flex-sm-column flex-lg-row justify-content-center align-items-center">
                    <div class="border-box content-sign_in d-flex flex-sm-column flex-lg-row align-items-center">
                        <div class="image-left">
                            <img src="{% static 'usercontrol/img/dog_cool.jpg' %}" alt="image_login" class="img-fluid border-img">
                        </div>
                        <div class="login-forms margin-device">
                            <h1>Connexion</h1>
                            {% if error %}
                            <h3 class="text-danger"><strong>Utilisateur incorrect ou mot de passe invalide</strong></h3>
                            {% endif %}
                            {% if user.is_authenticated %}
                            <h3 class="text-white">Vous êtes connectez {{ user.username }}!</h3>
                            {% else %}
                            <form action="{% url 'usercontrol:sign_in' %}" method='post'>
                            {% csrf_token %}
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-danger border-danger"><i class="fas fa-user-alt text-white"></i></span>
                                    </div>
                                    {{ form.user }}
                                    <!-- <input type="text" class="form-control" placeholder="Pseudo"> -->
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-danger border-danger"><i class="fas fa-unlock-alt text-white"></i></span>
                                    </div>
                                    {{ form.password }}
                                    <!-- <input type="password" class="form-control" placeholder="Mot de passe"> -->
                                </div>

                                <div class="form-group">
                                    <input class="btn btn-danger float-right" type="submit" value="Connexion">
                                </div>
                            </form>
                            <div class="links text-dark">
                                Vous n'avez pas de compte ?<a href="{% url 'usercontrol:sign_up' %}"> Inscrivez-vous</a>
                            </div>
                            <div>
                                <a href="#">Mot de passe oublié ?</a>
                            </div>
                            {% endif %}
                        </div><!-- .login-forms -->
                    </div><!-- end .d-flex flex-sm-column... -->
                </div><!-- end .h-100 d-flex... -->
            </div><!-- end .col-12 col-lg-12... -->
        </div><!-- end .row -->
    </div><!-- end .container-fluid -->
</section>
{% endblock content %}