{% extends 'usercontrol/base.html' %}

{% block content %}
{% load static %}
<section class="h-100">
    <div class="container-fluid h-100">
        <div class="row h-100">
            <div class="col-12 col-lg-12 h-100">
                <div class="h-100 d-flex flex-sm-column flex-lg-row justify-content-center align-items-center">
                    <div class="border-box content-sign_up d-flex flex-sm-column flex-lg-row align-items-center">
                        <div class="image-left">
                            <img src="{% static 'usercontrol/img/second_dog_cool.jpg' %}" alt="image_login" class="img-sign_up border-img">
                        </div>
                        <div class="login-forms margin-device">
                            <h1>Inscription</h1>
                            <form action="{% url 'usercontrol:sign_up' %}" method='post'>
                            {% csrf_token %}
                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-danger border-danger"><i class="fas fa-user text-white"></i></span>
                                    </div>
                                    {{ form.last_name }}
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-danger border-danger"><i class="fas fa-user text-white"></i></span>
                                    </div>
                                    {{ form.first_name }}
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-danger border-danger"><i class="fas fa-user-circle text-white"></i></span>
                                    </div>
                                    {{ form.pseudo }}
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-danger border-danger"><i class="fas fa-at text-white"></i></span>
                                    </div>
                                    {{ form.email }}
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-danger border-danger"><i class="fas fa-unlock-alt text-white"></i></span>
                                    </div>
                                    {{ form.password }}
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-danger border-danger"><i class="fas fa-mobile-alt text-white"></i></span>
                                    </div>
                                    {{ form.phone_number }}
                                </div>

                                <div class="input-group form-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text bg-danger border-danger"><i class="fas fa-users text-white"></i></span>
                                    </div>
                                    {{ form.group_name }}
                                    <small class="form-text text-white"><em>Le foyer sert à définir un groupe d'utilisateur. Cela permet à un utilisateur de consulter le planning d'un autre membre du groupe. Pour rejoindre le foyer d'un utilisateur, indiquer le nom de ce foyer. Si celui-ci n'existe pas, il sera créé.</em></small>
                                </div>
                                <input class="btn btn-danger float-right mb-3" type="submit" value="Inscription">
                            </form>
                            <div class="links-login">
                                Vous avez déjà un compte ?<a href="{% url 'usercontrol:sign_in' %}"> Connectez-vous</a>
                            </div>
                        </div><!-- .login-forms -->
                    </div><!-- end .d-flex flex-sm-column... -->
                </div><!-- end .h-100 d-flex... -->
            </div><!-- end .col-12 col-lg-12... -->
        </div><!-- end .row -->
    </div><!-- end .container-fluid -->
</section>
{% endblock content %}